<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f93d485b-76dc-43f3-bd42-1461df511c0a" Publisher="CN=Rico Suter" Version="1.1.0.0" />
  <Properties>
    <DisplayName>SampleWindowsStoreApp</DisplayName>
    <PublisherDisplayName>Rico</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SampleWindowsStoreApp.App">
      <m2:VisualElements DisplayName="SampleWindowsStoreApp" Description="SampleWindowsStoreApp" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" ToastCapable="true">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="mytxt">
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/plain">.mytxt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="SampleWindowsStoreApp.BackgroundTask.MyBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>URI</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>