/MyToolkit/bin
/MyToolkit/obj
/MyToolkit.Extended.Sl5/bin
/MyToolkit.Extended.Sl5/obj
/MyToolkit.Extended.WinRT/bin
/MyToolkit.Extended.WinRT/obj
/MyToolkit.Extended.Wp7/bin
/MyToolkit.Extended.Wp7/obj
/MyToolkit.Extended.Wp8/bin
/MyToolkit.Extended.Wp8/obj
/MyToolkit.Extended.Wpf/bin
/MyToolkit.Extended.Wpf/obj
/MyToolkit.Http/bin
/MyToolkit.Http/obj
/MyToolkit.Tests.WinRT/bin
/MyToolkit.Tests.Wp8/obj
/MyToolkit.Web/bin
/MyToolkit.Web/obj
