*.suo
/build/Output/**
**/bin/**
**/obj/**
**.user
/*.sdf
*.psess

**/AppPackages/**
/src/**/Packages/**

/src/MyToolkit.sln.GhostDoc.xml
/src/MyToolkit.VS2012.sln.GhostDoc.xml
/src/MyToolkit.sln.ide
/src/MyToolkit.Tests.WinRT/AppPackages
/src/SampleUniversalPhoneApp/AppPackages
/src/SampleWindowsStoreApp/AppPackages
/src/SampleWindowsStoreApp/BundleArtifacts